
USE BD_VENTAS
GO
/****** Object:  Table [dbo].[TB_Dominio]    Script Date: 11/28/2012 22:51:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_Dominio](
	[Pk_eDominio] [int] IDENTITY(1,1) NOT NULL,
	[cTipo] [varchar](50) NOT NULL,
	[cDescripcion] [varchar](100) NOT NULL,
 CONSTRAINT [Pk_eDominio] PRIMARY KEY CLUSTERED 
(
	[Pk_eDominio] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TB_Dominio] ON
INSERT [dbo].[TB_Dominio] ([Pk_eDominio], [cTipo], [cDescripcion]) VALUES (1, N'MON', N'Monitor LED')
INSERT [dbo].[TB_Dominio] ([Pk_eDominio], [cTipo], [cDescripcion]) VALUES (2, N'MON', N'Monitor LED IPS')
INSERT [dbo].[TB_Dominio] ([Pk_eDominio], [cTipo], [cDescripcion]) VALUES (3, N'MON', N'Monitor LCD')
SET IDENTITY_INSERT [dbo].[TB_Dominio] OFF
/****** Object:  Table [dbo].[Ubigeo]    Script Date: 11/28/2012 22:51:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ubigeo](
	[codDepartamento] [varchar](2) NOT NULL,
	[codProvincia] [varchar](2) NOT NULL,
	[codDistrito] [varchar](2) NOT NULL,
	[departamento] [varchar](40) NOT NULL,
	[provincia] [varchar](40) NOT NULL,
	[distrito] [varchar](40) NOT NULL,
 CONSTRAINT [codDepartamento] PRIMARY KEY CLUSTERED 
(
	[codDepartamento] ASC,
	[codProvincia] ASC,
	[codDistrito] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Ubigeo] ([codDepartamento], [codProvincia], [codDistrito], [departamento], [provincia], [distrito]) VALUES (N'01', N'01', N'01', N'AMAZONAS', N'CHACHAPOYAS', N'CHACHAPOYAS')
INSERT [dbo].[Ubigeo] ([codDepartamento], [codProvincia], [codDistrito], [departamento], [provincia], [distrito]) VALUES (N'01', N'01', N'02', N'AMAZONAS', N'CHACHAPOYAS', N'ASUNCION')
INSERT [dbo].[Ubigeo] ([codDepartamento], [codProvincia], [codDistrito], [departamento], [provincia], [distrito]) VALUES (N'01', N'01', N'03', N'AMAZONAS', N'CHACHAPOYAS', N'BALSAS')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
/****** Object:  Table [dbo].[TB_Cliente]    Script Date: 11/28/2012 22:51:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_Cliente](
	[Pk_eCliente] [int] IDENTITY(1,1) NOT NULL,
	[cTelefono] [varchar](10) NOT NULL,
	[cDireccion] [varchar](100) NOT NULL,
	[cTipCliente] [varchar](3) NOT NULL,
	[dFecRegistro] [datetime] NULL,
	[codDepartamento] [varchar](2) NULL,
	[codProvincia] [varchar](2) NULL,
	[codDistrito] [varchar](2) NULL,
 CONSTRAINT [Pk_eCliente] PRIMARY KEY CLUSTERED 
(
	[Pk_eCliente] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TB_Cliente] ON
INSERT [dbo].[TB_Cliente] ([Pk_eCliente], [cTelefono], [cDireccion], [cTipCliente], [dFecRegistro], [codDepartamento], [codProvincia], [codDistrito]) VALUES (3, N'4521110', N'Av Brasil 789', N'1', CAST(0x0000A10600000000 AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[TB_Cliente] ([Pk_eCliente], [cTelefono], [cDireccion], [cTipCliente], [dFecRegistro], [codDepartamento], [codProvincia], [codDistrito]) VALUES (4, N'4512211', N'Av TAcna 452', N'NAT', NULL, NULL, NULL, NULL)
INSERT [dbo].[TB_Cliente] ([Pk_eCliente], [cTelefono], [cDireccion], [cTipCliente], [dFecRegistro], [codDepartamento], [codProvincia], [codDistrito]) VALUES (5, N'7895511', N'A hy 555', N'NAT', CAST(0x0000A10B0181F320 AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TB_Cliente] OFF
/****** Object:  Table [dbo].[TB_Almacen]    Script Date: 11/28/2012 22:51:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_Almacen](
	[Pk_eAlmacen] [int] IDENTITY(1,1) NOT NULL,
	[cSucursal] [varchar](150) NOT NULL,
	[cDireccion] [varchar](150) NOT NULL,
 CONSTRAINT [Pk_eAlmacen] PRIMARY KEY CLUSTERED 
(
	[Pk_eAlmacen] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_Producto]    Script Date: 11/28/2012 22:51:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_Producto](
	[Pk_eProducto] [int] IDENTITY(1,1) NOT NULL,
	[Fk_eDominio] [int] NOT NULL,
	[cDescripcion] [varchar](100) NOT NULL,
	[dPrecio] [decimal](18, 0) NOT NULL,
	[cEspecificacion] [varchar](200) NULL,
	[bImagen] [varchar](100) NULL,
	[dPeso] [decimal](18, 2) NULL,
 CONSTRAINT [Pk_eProducto] PRIMARY KEY CLUSTERED 
(
	[Pk_eProducto] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TB_Producto] ON
INSERT [dbo].[TB_Producto] ([Pk_eProducto], [Fk_eDominio], [cDescripcion], [dPrecio], [cEspecificacion], [bImagen], [dPeso]) VALUES (1, 1, N'Asus VH168D 15.6"', CAST(56 AS Decimal(18, 0)), NULL, NULL, CAST(0.50 AS Decimal(18, 2)))
INSERT [dbo].[TB_Producto] ([Pk_eProducto], [Fk_eDominio], [cDescripcion], [dPrecio], [cEspecificacion], [bImagen], [dPeso]) VALUES (2, 1, N'Samsung LS19B150NS 18.5"', CAST(46 AS Decimal(18, 0)), NULL, NULL, CAST(0.60 AS Decimal(18, 2)))
INSERT [dbo].[TB_Producto] ([Pk_eProducto], [Fk_eDominio], [cDescripcion], [dPrecio], [cEspecificacion], [bImagen], [dPeso]) VALUES (3, 1, N'Asus VS197D 18.5"', CAST(80 AS Decimal(18, 0)), NULL, NULL, CAST(0.65 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[TB_Producto] OFF
/****** Object:  Table [dbo].[TB_PersonaNatural]    Script Date: 11/28/2012 22:51:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_PersonaNatural](
	[Pk_ePerNatural] [int] IDENTITY(1,1) NOT NULL,
	[Fk_eCliente] [int] NULL,
	[cDNI] [varchar](10) NOT NULL,
	[cNombres] [varchar](50) NOT NULL,
	[cApellidos] [varchar](50) NOT NULL,
 CONSTRAINT [Pk_ePerNatural] PRIMARY KEY CLUSTERED 
(
	[Pk_ePerNatural] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TB_PersonaNatural] ON
INSERT [dbo].[TB_PersonaNatural] ([Pk_ePerNatural], [Fk_eCliente], [cDNI], [cNombres], [cApellidos]) VALUES (1, 8, N'44562211', N'Martin', N'Perez')
INSERT [dbo].[TB_PersonaNatural] ([Pk_ePerNatural], [Fk_eCliente], [cDNI], [cNombres], [cApellidos]) VALUES (2, 11, N'12', N'', N'')
INSERT [dbo].[TB_PersonaNatural] ([Pk_ePerNatural], [Fk_eCliente], [cDNI], [cNombres], [cApellidos]) VALUES (3, 12, N'', N'', N'')
SET IDENTITY_INSERT [dbo].[TB_PersonaNatural] OFF
/****** Object:  Table [dbo].[TB_PersonaJuridica]    Script Date: 11/28/2012 22:51:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_PersonaJuridica](
	[Pk_ePerJuridica] [int] IDENTITY(1,1) NOT NULL,
	[Fk_eCliente] [int] NULL,
	[cRuc] [varchar](11) NOT NULL,
	[cRazSocial] [varchar](100) NOT NULL,
 CONSTRAINT [Pk_ePerJuridica] PRIMARY KEY CLUSTERED 
(
	[Pk_ePerJuridica] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TB_PersonaJuridica] ON
INSERT [dbo].[TB_PersonaJuridica] ([Pk_ePerJuridica], [Fk_eCliente], [cRuc], [cRazSocial]) VALUES (1, 10, N'22222222222', N'DMS SAC')
SET IDENTITY_INSERT [dbo].[TB_PersonaJuridica] OFF
/****** Object:  Table [dbo].[TB_Pedido]    Script Date: 11/28/2012 22:51:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_Pedido](
	[Pk_ePedido] [int] IDENTITY(1,1) NOT NULL,
	[Fk_eCliente] [int] NOT NULL,
	[fFechaRegistro] [datetime] NOT NULL,
	[cDestinatario] [varchar](200) NOT NULL,
	[mTotal] [money] NOT NULL,
	[cNumTarjeta] [varchar](20) NULL,
	[eCodTarjeta] [int] NOT NULL,
	[cTipoPago] [varchar](5) NOT NULL,
	[cNroTransaccion] [varchar](30) NULL,
	[cDireccionDestinatario] [varchar](100) NULL,
	[codDepartamento] [varchar](2) NULL,
	[codProvincia] [varchar](2) NULL,
	[codDistrito] [varchar](2) NULL,
 CONSTRAINT [Pk_ePedido] PRIMARY KEY CLUSTERED 
(
	[Pk_ePedido] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TB_Pedido] ON
INSERT [dbo].[TB_Pedido] ([Pk_ePedido], [Fk_eCliente], [fFechaRegistro], [cDestinatario], [mTotal], [cNumTarjeta], [eCodTarjeta], [cTipoPago], [cNroTransaccion], [cDireccionDestinatario], [codDepartamento], [codProvincia], [codDistrito]) VALUES (3, 3, CAST(0x0000A10C001DB5E2 AS DateTime), N'', 80.0000, N'6958474589632458', 201, N'SOL', N'695847485916', NULL, NULL, NULL, NULL)
INSERT [dbo].[TB_Pedido] ([Pk_ePedido], [Fk_eCliente], [fFechaRegistro], [cDestinatario], [mTotal], [cNumTarjeta], [eCodTarjeta], [cTipoPago], [cNroTransaccion], [cDireccionDestinatario], [codDepartamento], [codProvincia], [codDistrito]) VALUES (4, 3, CAST(0x0000A10C008EA02D AS DateTime), N'', 84.0000, N'6958474589632458', 201, N'SOL', N'695847485917', NULL, NULL, NULL, NULL)
INSERT [dbo].[TB_Pedido] ([Pk_ePedido], [Fk_eCliente], [fFechaRegistro], [cDestinatario], [mTotal], [cNumTarjeta], [eCodTarjeta], [cTipoPago], [cNroTransaccion], [cDireccionDestinatario], [codDepartamento], [codProvincia], [codDistrito]) VALUES (5, 3, CAST(0x0000A10C00911C3D AS DateTime), N'', 84.0000, N'6958474589632458', 201, N'SOL', N'695847485918', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TB_Pedido] OFF
/****** Object:  Table [dbo].[TB_Usuario]    Script Date: 11/28/2012 22:51:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_Usuario](
	[Pk_eUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Fk_eCliente] [int] NULL,
	[cUsuario] [varchar](50) NOT NULL,
	[cContrasena] [varchar](50) NOT NULL,
	[dFecRegistro] [datetime] NOT NULL,
 CONSTRAINT [Pk_eUsuario] PRIMARY KEY CLUSTERED 
(
	[Pk_eUsuario] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TB_Usuario] ON
INSERT [dbo].[TB_Usuario] ([Pk_eUsuario], [Fk_eCliente], [cUsuario], [cContrasena], [dFecRegistro]) VALUES (1, 3, N'User01', N'123456', CAST(0x0000A10600000000 AS DateTime))
INSERT [dbo].[TB_Usuario] ([Pk_eUsuario], [Fk_eCliente], [cUsuario], [cContrasena], [dFecRegistro]) VALUES (2, 8, N'Mart01', N'123456', CAST(0x0000A10B0187366C AS DateTime))
INSERT [dbo].[TB_Usuario] ([Pk_eUsuario], [Fk_eCliente], [cUsuario], [cContrasena], [dFecRegistro]) VALUES (3, 10, N'user03', N'123456789', CAST(0x0000A10B01884898 AS DateTime))
SET IDENTITY_INSERT [dbo].[TB_Usuario] OFF
/****** Object:  Table [dbo].[TB_Stock]    Script Date: 11/28/2012 22:51:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_Stock](
	[Pk_eStock] [int] IDENTITY(1,1) NOT NULL,
	[Fk_eProducto] [int] NOT NULL,
	[Fk_eAlmacen] [int] NOT NULL,
	[eStockActual] [int] NOT NULL,
	[eStockMinimo] [int] NULL,
 CONSTRAINT [Pk_eStock] PRIMARY KEY CLUSTERED 
(
	[Pk_eStock] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_DetallePedido]    Script Date: 11/28/2012 22:51:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_DetallePedido](
	[Pk_eDetalePedido] [int] IDENTITY(1,1) NOT NULL,
	[Fk_ePedido] [int] NOT NULL,
	[Fk_eProducto] [int] NOT NULL,
	[eCantidad] [int] NOT NULL,
	[mSuTotal] [money] NOT NULL,
 CONSTRAINT [Pk_eDetalePedido] PRIMARY KEY CLUSTERED 
(
	[Pk_eDetalePedido] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TB_DetallePedido] ON
INSERT [dbo].[TB_DetallePedido] ([Pk_eDetalePedido], [Fk_ePedido], [Fk_eProducto], [eCantidad], [mSuTotal]) VALUES (1, 3, 3, 1, 80.0000)
INSERT [dbo].[TB_DetallePedido] ([Pk_eDetalePedido], [Fk_ePedido], [Fk_eProducto], [eCantidad], [mSuTotal]) VALUES (2, 4, 4, 1, 84.0000)
INSERT [dbo].[TB_DetallePedido] ([Pk_eDetalePedido], [Fk_ePedido], [Fk_eProducto], [eCantidad], [mSuTotal]) VALUES (3, 5, 4, 1, 84.0000)
SET IDENTITY_INSERT [dbo].[TB_DetallePedido] OFF
/****** Object:  Default [DF_TB_Cliente_dFecRegistro]    Script Date: 11/28/2012 22:51:02 ******/
ALTER TABLE [dbo].[TB_Cliente] ADD  CONSTRAINT [DF_TB_Cliente_dFecRegistro]  DEFAULT (getdate()) FOR [dFecRegistro]
GO
/****** Object:  Default [DF_TB_Pedido_fFechaRegistro]    Script Date: 11/28/2012 22:51:02 ******/
ALTER TABLE [dbo].[TB_Pedido] ADD  CONSTRAINT [DF_TB_Pedido_fFechaRegistro]  DEFAULT (getdate()) FOR [fFechaRegistro]
GO
/****** Object:  Default [DF_TB_Usuario_dFecRegistro]    Script Date: 11/28/2012 22:51:02 ******/
ALTER TABLE [dbo].[TB_Usuario] ADD  CONSTRAINT [DF_TB_Usuario_dFecRegistro]  DEFAULT (getdate()) FOR [dFecRegistro]
GO
/****** Object:  ForeignKey [Fk_TB_DetallePedido_TB_Pedido]    Script Date: 11/28/2012 22:51:02 ******/
ALTER TABLE [dbo].[TB_DetallePedido]  WITH CHECK ADD  CONSTRAINT [Fk_TB_DetallePedido_TB_Pedido] FOREIGN KEY([Fk_ePedido])
REFERENCES [dbo].[TB_Pedido] ([Pk_ePedido])
GO
ALTER TABLE [dbo].[TB_DetallePedido] CHECK CONSTRAINT [Fk_TB_DetallePedido_TB_Pedido]
GO
/****** Object:  ForeignKey [Fk_TB_DetallePedido_TB_Producto]    Script Date: 11/28/2012 22:51:02 ******/
ALTER TABLE [dbo].[TB_DetallePedido]  WITH CHECK ADD  CONSTRAINT [Fk_TB_DetallePedido_TB_Producto] FOREIGN KEY([Fk_eProducto])
REFERENCES [dbo].[TB_Producto] ([Pk_eProducto])
GO
ALTER TABLE [dbo].[TB_DetallePedido] CHECK CONSTRAINT [Fk_TB_DetallePedido_TB_Producto]
GO
/****** Object:  ForeignKey [Fk_TB_Pedido_TB_Cliente]    Script Date: 11/28/2012 22:51:02 ******/
ALTER TABLE [dbo].[TB_Pedido]  WITH CHECK ADD  CONSTRAINT [Fk_TB_Pedido_TB_Cliente] FOREIGN KEY([Fk_eCliente])
REFERENCES [dbo].[TB_Cliente] ([Pk_eCliente])
GO
ALTER TABLE [dbo].[TB_Pedido] CHECK CONSTRAINT [Fk_TB_Pedido_TB_Cliente]
GO
/****** Object:  ForeignKey [TB_PersonaJuridica_TB_Cliente]    Script Date: 11/28/2012 22:51:02 ******/
ALTER TABLE [dbo].[TB_PersonaJuridica]  WITH CHECK ADD  CONSTRAINT [TB_PersonaJuridica_TB_Cliente] FOREIGN KEY([Fk_eCliente])
REFERENCES [dbo].[TB_Cliente] ([Pk_eCliente])
GO
ALTER TABLE [dbo].[TB_PersonaJuridica] CHECK CONSTRAINT [TB_PersonaJuridica_TB_Cliente]
GO
/****** Object:  ForeignKey [TB_PersonaNatural_TB_Cliente]    Script Date: 11/28/2012 22:51:02 ******/
ALTER TABLE [dbo].[TB_PersonaNatural]  WITH CHECK ADD  CONSTRAINT [TB_PersonaNatural_TB_Cliente] FOREIGN KEY([Fk_eCliente])
REFERENCES [dbo].[TB_Cliente] ([Pk_eCliente])
GO
ALTER TABLE [dbo].[TB_PersonaNatural] CHECK CONSTRAINT [TB_PersonaNatural_TB_Cliente]
GO
/****** Object:  ForeignKey [Fk_TB_Producto_TB_Dominio]    Script Date: 11/28/2012 22:51:02 ******/
ALTER TABLE [dbo].[TB_Producto]  WITH CHECK ADD  CONSTRAINT [Fk_TB_Producto_TB_Dominio] FOREIGN KEY([Fk_eDominio])
REFERENCES [dbo].[TB_Dominio] ([Pk_eDominio])
GO
ALTER TABLE [dbo].[TB_Producto] CHECK CONSTRAINT [Fk_TB_Producto_TB_Dominio]
GO
/****** Object:  ForeignKey [TB_Stock_TB_Almacen]    Script Date: 11/28/2012 22:51:02 ******/
ALTER TABLE [dbo].[TB_Stock]  WITH CHECK ADD  CONSTRAINT [TB_Stock_TB_Almacen] FOREIGN KEY([Fk_eAlmacen])
REFERENCES [dbo].[TB_Almacen] ([Pk_eAlmacen])
GO
ALTER TABLE [dbo].[TB_Stock] CHECK CONSTRAINT [TB_Stock_TB_Almacen]
GO
/****** Object:  ForeignKey [TB_Stock_TB_Producto]    Script Date: 11/28/2012 22:51:02 ******/
ALTER TABLE [dbo].[TB_Stock]  WITH CHECK ADD  CONSTRAINT [TB_Stock_TB_Producto] FOREIGN KEY([Fk_eProducto])
REFERENCES [dbo].[TB_Producto] ([Pk_eProducto])
GO
ALTER TABLE [dbo].[TB_Stock] CHECK CONSTRAINT [TB_Stock_TB_Producto]
GO
/****** Object:  ForeignKey [TB_Usuario_TB_Cliente]    Script Date: 11/28/2012 22:51:02 ******/
ALTER TABLE [dbo].[TB_Usuario]  WITH CHECK ADD  CONSTRAINT [TB_Usuario_TB_Cliente] FOREIGN KEY([Fk_eCliente])
REFERENCES [dbo].[TB_Cliente] ([Pk_eCliente])
GO
ALTER TABLE [dbo].[TB_Usuario] CHECK CONSTRAINT [TB_Usuario_TB_Cliente]
GO
